@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Product Sans";
  src: url(/assets/fonts/ProductSansRegular.ttf);
}
html {
  font-family: Product Sans;
}

.hamburgermenu {
  display: none;
}

.logo-hamburger {
  display: none;
}

.head {
  width: 100%;
  background-image: url(/assets/img/Product\ image.png);
  z-index: -1;
  background-size: 65%;
  background-position: top right;
  background-repeat: no-repeat;
}

.navigation {
  width: 85%;
}
.navigation nav {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.navigation nav ul {
  width: 30%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: 30px;
  text-align: center;
}
.navigation nav ul a {
  text-decoration: none;
  color: black;
}
.navigation nav ul a:not(:last-child) {
  padding-right: 10px;
}
.navigation nav .logo {
  margin-left: 200px;
  margin-right: 10%;
}
.navigation nav .btn-reg {
  width: 80px;
  height: 30px;
  border-radius: 120px;
  background-color: #f16214;
  color: white;
  border: none;
  cursor: pointer;
}
.navigation nav .btn-reg:hover {
  background-color: #ffffff;
  border-color: #eeeeee;
  color: #f16214;
}

.content {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 13%;
  margin-top: 8%;
  height: 70%;
}
.content h1 {
  width: 65%;
  font-size: 60px;
}
.content p {
  width: 95%;
  color: #888888;
  font-size: 16px;
  line-height: 23px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.btn-start {
  display: flex;
  align-items: center;
  gap: 13px;
  background-color: #f16214;
  border-radius: 54px;
  padding: 3px;
  border: none;
  position: relative;
  color: #ffffff;
  font-weight: bold;
  padding-right: 5px;
  font-family: Product Sans;
  padding-left: 25px;
  letter-spacing: 1px;
  width: 160px;
  height: 48px;
  cursor: pointer;
}
.btn-start:hover {
  background-color: #ffffff;
  border-color: #eeeeee;
  color: #f16214;
}
.btn-start span {
  border-top: 2.3px solid #f16214;
  position: absolute;
  z-index: 1;
  height: 6px;
  border-right: 2.3px solid #f16214;
  width: 6px;
  transform: rotate(45deg);
  right: 23px;
}
.btn-start::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  right: 5px;
}

#work-info {
  border-radius: 60px 0px;
  width: 65%;
  height: 20%;
  box-shadow: 0px 22px 52px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  padding: 50px;
  background: #ffffff;
  justify-content: center;
  align-items: center;
  line-height: 35px;
}
#work-info p {
  font-size: 13px;
  color: #888888;
}

.info-centre {
  border-right: 1.5px solid #dddddd;
  border-left: 1.5px solid #dddddd;
  padding-right: 40px;
  padding-left: 40px;
}

.info-left {
  padding-right: 70px;
}

.info-right {
  padding-left: 70px;
}

@media screen and (max-width: 1370px) {
  #work-info {
    width: 80%;
  }
  #work-info h3 {
    font-size: 15px;
  }
  .info-left {
    padding-right: 40px;
  }
  .info-right {
    padding-left: 40px;
  }
  .btn-reg {
    width: 90px;
    height: 45px;
    border-radius: 120px;
    background-color: #f16214;
    color: white;
    border: none;
  }
  .btn-reg:hover {
    background-color: #ffffff;
    border-color: #eeeeee;
    color: #f16214;
  }
  .navigation {
    display: none;
  }
  .hamburgermenu {
    display: block;
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 38px;
    padding-left: 20px;
    z-index: 1;
  }
  #menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover {
    color: tomato;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #0c0c0c;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  /*
  * Ohyeah and the last one should go the other direction
  */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  /*
  * Make this absolute positioned
  * at the top left of the screen
  */
  #menu {
    position: absolute;
    width: 110vw;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    text-align: center;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  /*
  * And let's slide it in from the left
  */
  #menuToggle input:checked ~ ul {
    transform: none;
  }
  .logo-hamburger {
    display: block;
    margin-left: 100px;
  }
  .content h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 920px) {
  .content {
    width: 50%;
  }
  #work-info {
    padding: 10px;
    height: 87%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
  }
  .info-left {
    padding-right: 0px;
  }
  .info-right {
    padding-left: 0px;
  }
}
.fish-main {
  margin-top: 200px;
  display: flex;
}

.fish-img {
  margin-top: -80px;
  width: 55%;
}
.fish-img img {
  width: 100%;
}

.fish-text {
  width: 35%;
}
.fish-text h1 {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 35px;
  margin-top: 4px;
}
.fish-text .p-text {
  color: #888888;
  line-height: 24px;
  margin-bottom: 20px;
}
.fish-text .p-head {
  color: #f16214;
}

.choose {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.choose-main {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}
.choose-main .choose-head {
  width: 100%;
  text-align: center;
}
.choose-main .choose-head p {
  color: #f16214;
  font-weight: bold;
  font-size: 14px;
}
.choose-main .choose-head h1 {
  line-height: 49px;
  margin-bottom: 40px;
}

.quality {
  width: 30%;
  padding: 70px 13px;
  border: 2px solid #eeeeee;
  border-radius: 60px 0px;
}
.quality h3 {
  line-height: 45px;
}
.quality p {
  color: #888888;
  line-height: 23px;
}
.quality:hover {
  box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.1);
}

.healthy {
  border: 2px solid #eeeeee;
  border-radius: 60px 0px;
  width: 30%;
  padding: 70px 13px;
  border: 2px solid #eeeeee;
  border-radius: 60px 0px;
}
.healthy h3 {
  line-height: 45px;
}
.healthy p {
  color: #888888;
  line-height: 23px;
}
.healthy:hover {
  box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.1);
}

.fast {
  border: 2px solid #eeeeee;
  border-radius: 60px 0px;
  width: 30%;
  padding: 70px 13px;
  border: 2px solid #eeeeee;
  border-radius: 60px 0px;
}
.fast h3 {
  line-height: 45px;
}
.fast p {
  color: #888888;
  line-height: 23px;
}
.fast:hover {
  box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1150px) {
  .choose-main {
    width: 85%;
  }
}
@media screen and (max-width: 920px) {
  .fish-main {
    position: relative;
    width: 60%;
    flex-direction: column-reverse;
    margin: 100px auto;
  }
  .fish-main::after {
    content: "";
    position: absolute;
    background: url(/assets/img/sushi-sashimi-smoked-salmon-japanese-cuisine-onigiri-sushi-7ca71738ec75ea9dd90d4310264dcc9e.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(3px);
  }
  .fish-text {
    width: 100%;
    text-align: center;
  }
  .fish-text button {
    margin: 0 auto;
  }
  .fish-img {
    display: none;
  }
  .choose-main {
    flex-direction: column;
    width: 85%;
    gap: 20px;
  }
  .quality {
    width: 100%;
  }
  .healthy {
    width: 100%;
  }
  .fast {
    width: 100%;
  }
}
.photo-bottom {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2.5rem;
}

.photo img {
  width: 100%;
  border-radius: 54px 0 0;
}

.popular {
  width: 100%;
}
.popular .btn-start {
  width: 200px;
  margin: 20px auto;
}

.photo-content {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 70%;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
  justify-content: space-around;
}

.left-items {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}
.left-items button {
  background: #f16214;
  border-radius: 50px;
  width: 100px;
  height: 40px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.left-items button:hover {
  background-color: #ffffff;
  border-color: #eeeeee;
  color: #f16214;
}

.right-items {
  padding-top: 1.5rem;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.right-items p {
  font-size: 13px;
  font-weight: 700;
}
.right-items p img {
  margin-right: 3px;
}

.popular-main {
  width: 75%;
  margin: 7rem auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.popular-head {
  padding-bottom: 2.5rem;
  width: 100%;
}
.popular-head h1 {
  font-size: 40px;
}
.popular-head p {
  font-size: 14px;
  color: #f16214;
  font-weight: 700;
}

@media screen and (max-width: 1000px) {
  .photo-content {
    width: 40%;
  }
}
@media screen and (max-width: 730px) {
  .popular-main {
    flex-direction: column;
  }
  .photo-content {
    width: 60%;
  }
}
.mobileapp {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 350px;
  position: relative;
  padding-bottom: 26%;
}
.mobileapp::after {
  content: "";
  position: absolute;
  background: no-repeat url(/assets/img/Food\ Details.png);
  width: 25%;
  background-size: 100%;
  height: 100%;
  left: 60%;
  top: -15%;
}
.mobileapp::before {
  content: "";
  position: absolute;
  background: no-repeat url(/assets/img/Mine\ Page.png);
  width: 25%;
  background-size: 100%;
  height: 100%;
  left: 42%;
  top: -23%;
  z-index: 1;
}

.mobileapp-main {
  position: relative;
  margin: 0 auto;
  width: 65%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  background: no-repeat url(/assets/img/BG.png);
  border-radius: 60px 0;
  margin-top: 200px;
}

.mobile-text {
  padding-top: 70px;
  padding-left: 15px;
  width: 55%;
}
.mobile-text h1 {
  width: 65%;
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 20px;
}
.mobile-text img {
  max-width: 30%;
}
.mobile-text img:last-child {
  margin-left: 10px;
}
.mobile-text img:nth-child(1) {
  padding-right: 10px;
}

@media screen and (max-width: 1420px) {
  .mobileapp-main {
    width: 65%;
  }
}
@media screen and (max-width: 1230px) {
  .mobileapp::after {
    content: "";
    width: 28%;
    height: 100%;
    left: 62%;
    top: -8%;
  }
  .mobileapp::before {
    content: "";
    width: 28%;
    background-size: 100%;
    height: 100%;
    left: 42%;
    top: -10%;
    z-index: 1;
  }
  .mobileapp-main {
    background: no-repeat url(/assets/img/BG.png);
    margin: 300px auto;
    position: relative;
    width: 75%;
    height: 100%;
  }
}
@media screen and (max-width: 920px) {
  .mobileapp {
    margin-top: 10px !important;
  }
  .mobileapp::after {
    top: -10%;
    left: 70%;
    width: 30%;
    height: 100%;
    z-index: 10;
  }
  .mobileapp::before {
    top: -10%;
    left: 2%;
    width: 30%;
    height: 100%;
    z-index: 10;
  }
  .mobileapp-main {
    border: 1px solid magenta;
    width: 100%;
    background-size: 120%;
    padding: 170px;
  }
  .mobile-text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    padding-top: 35px;
    margin-top: -200px;
  }
  .mobile-text h1 {
    padding: 1px;
    font-size: 25px;
    line-height: 40px;
  }
  .mobile-text img {
    padding-top: 25px;
    max-width: 72%;
  }
  .mobile-text img:last-child {
    padding-top: 15px;
    margin-left: 2px;
  }
}
@media screen and (max-width: 764px) {
  .mobileapp {
    padding-bottom: 57%;
    height: 150%;
  }
  .mobileapp::after {
    top: -10%;
    left: 65%;
    width: 33%;
    height: 100%;
    z-index: 10;
    padding-left: 10px;
  }
  .mobileapp-main {
    margin-block: 4.5rem;
  }
  .mobile-text {
    margin: -200px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 65%;
  }
  .mobile-text h1 {
    padding: -15px;
    font-size: 25px;
    line-height: 25px;
  }
  .mobile-text img {
    margin-top: 2%;
    width: 55%;
  }
}
@media screen and (max-width: 685px) {
  .mobileapp::before {
    position: absolute;
    top: 1%;
  }
  .mobileapp::after {
    position: absolute;
    top: -4%;
  }
  .mobileapp-main {
    width: 100%;
    background-size: 180%;
  }
  .mobile-text {
    margin: -190px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .mobile-text h1 {
    padding: -15px;
    font-size: 25px;
    line-height: 25px;
  }
  .mobile-text img {
    margin-top: 1%;
    width: 55%;
  }
}
@media screen and (max-width: 620px) {
  .mobileapp-main {
    width: 100%;
    background-size: 180%;
  }
  .mobile-text {
    width: 280%;
  }
  .mobile-text img {
    width: fit-content;
  }
}
@media screen and (max-width: 550px) {
  .mobile-text {
    margin-left: -20%;
  }
  .mobile-text img {
    max-width: 120px;
  }
}
.client-says {
  margin-top: 7%;
  position: relative;
  width: 100%;
  text-align: center;
}
.client-says p:first-child {
  color: #f16214;
  padding-bottom: 10px;
}
.client-says h1 {
  font-size: 40px;
}

.client-main {
  margin: 0 auto;
  display: flex;
  width: 69%;
}
.client-main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: no-repeat url(/assets/img/vegetable-food-diet-health-eating-vegetables-and-fork-2eaceb13dbe391d6ddd9e988c59d4f22.png);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.client-side1 {
  width: 48%;
  margin-top: 100px;
  margin-bottom: 130px;
  margin-left: 60px;
}
.client-side1 img {
  width: 100%;
  border-radius: 50%;
}

#ceotext p {
  color: #888888;
  line-height: 24px;
  padding-bottom: 32px;
}

.leftarrow {
  cursor: pointer;
  width: 50px;
  border: none;
  border-radius: 10px;
  background: #f16214;
  border: 1.5px solid transparent;
  height: 50px;
  position: relative;
  margin-right: 30px;
}
.leftarrow::after {
  content: "⟶";
  font-size: 25px;
  color: #ffffff;
}
.leftarrow:hover::after {
  color: #f16215;
}
.leftarrow:hover {
  background-color: #ffffff;
  border-color: #eeeeee;
}

.rightarrow {
  cursor: pointer;
  width: 50px;
  border: none;
  border-radius: 10px;
  background: #f16214;
  border: 1.5px solid transparent;
  height: 50px;
  position: relative;
}
.rightarrow::after {
  content: "⟵";
  font-size: 25px;
  color: #ffffff;
}
.rightarrow:hover::after {
  color: #f16215;
}
.rightarrow:hover {
  background-color: #ffffff;
  border-color: #eeeeee;
}

.ceo-img {
  width: 26%;
}

#ceo-p {
  color: #888888;
  font-size: 14px;
}

.ceo-info {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-left: -30px;
}

.ceo-items {
  margin: 0 auto;
  width: 65%;
  display: flex;
  margin-bottom: 40px;
}

.client-side2 {
  width: 48%;
}

@media screen and (max-width: 1250px) {
  .ceo-items {
    margin: 0 auto;
    width: 85%;
    display: flex;
    margin-bottom: 40px;
  }
  .client-main {
    width: 80%;
  }
  .client-main::after {
    background-size: 25%;
  }
  .client-says {
    margin-top: -100px;
    width: 100%;
  }
  .client-side2 {
    width: 55%;
  }
}
@media screen and (max-width: 1070px) {
  .client-side2 {
    width: 40%;
  }
  .client-side2 img {
    width: 120%;
  }
}
@media screen and (max-width: 921px) {
  .client-says {
    margin-top: -43%;
  }
  .client-main {
    width: 80%;
  }
  .client-side2 {
    width: 60%;
    padding-left: 12%;
  }
  .client-side2 img {
    margin-top: 20%;
  }
  .ceo-items {
    flex-direction: column;
  }
  .ceo-info {
    margin: 0 auto;
  }
  .ceo-img {
    margin: 0 auto;
    width: 40%;
  }
  .client-side1 {
    width: 68%;
  }
  .client-side1 p {
    color: #888888;
    line-height: 24px;
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 700px) {
  .client-says h1 {
    font-size: 33px;
    padding-left: 5%;
  }
  .client-side1 {
    margin-top: 8%;
    width: 88%;
  }
  .client-side2 {
    width: 78%;
  }
  #ceotext {
    width: 95%;
  }
}
.hamburger {
  display: flex;
  width: 100%;
  height: 600px;
}

.hamburger-main {
  display: flex;
  margin: 0 auto;
  background-image: url(/assets/img/BG.png);
  width: 67%;
  background-size: 100%;
  background-repeat: no-repeat;
  max-height: 55%;
  border-radius: 50px 0;
  margin-top: 85px;
}

.hamburger-side1 {
  margin-top: -10%;
}

.hamburger-side2 {
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 40px 0;
  width: 52%;
  gap: 30px;
}
.hamburger-side2 h1 {
  font-size: 40px;
  margin-bottom: 3%;
}
.hamburger-side2 p {
  width: 94%;
  line-height: 24px;
  color: #888888;
}

.subscribe-main {
  background: #ffffff;
  width: 90%;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  font-size: 13px;
  border: 1px solid red;
  overflow: hidden;
  display: flex;
}

.subsrcipt {
  display: flex;
  justify-content: space-between;
}

.subsrcipt form {
  flex-grow: 1;
  display: flex;
}

.subsrcipt input {
  border: none;
  padding: 20px 25px;
  font-family: Product Sans;
}

.subsrcipt input:focus {
  outline: none;
}

.subsrcipt input::-webkit-input-placeholder {
  color: #cccccc;
}

.submit {
  margin: 4px;
  border: none;
  color: #ffffff;
  background: #f16214;
  font-family: Product Sans;
  font-weight: 700;
  width: 125px;
  font-size: 16px;
  border-radius: 13px;
  cursor: pointer;
}
.submit:hover {
  background-color: #ffffff;
  border-color: #eeeeee;
  color: #f16214;
}

@media screen and (max-width: 1473px) {
  .subscribe-main {
    width: 70%;
  }
  .hamburger-main {
    width: 80%;
  }
}
@media screen and (max-width: 1237px) {
  .subscribe-main {
    width: 65%;
  }
  .hamburger-main {
    width: 90%;
  }
}
@media screen and (max-width: 1105px) {
  .hamburger-main {
    position: relative;
    background-image: none;
  }
  .hamburger-side1 {
    display: none;
  }
  .hamburger-side2 {
    margin-left: 33%;
    text-align: center;
    width: 85%;
    height: 100%;
  }
  .hamburger-side2 p {
    width: 90%;
    line-height: 24px;
    margin: 0 auto;
  }
  .subscribe-main {
    margin: 0 auto;
  }
  .hamburger::before {
    content: "";
    position: absolute;
    background-image: url(/assets/img/BG.png);
    background-repeat: no-repeat;
    border-radius: 50px 0;
    background-size: cover;
    width: 100%;
    height: 70%;
    z-index: -1;
  }
  .hamburger::after {
    content: "";
    position: absolute;
    background-image: url(/assets/img/hamburger-veggie-burger-take-out-fast-food-kebab-delicious-beef-burger-695bdb4c987243b9c11340e4fd3cec41.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: unset;
    width: 80%;
    height: 50%;
    z-index: -1;
  }
  .subscribe-main {
    width: 65%;
  }
  .hamburger-main {
    width: 85%;
  }
}
@media screen and (max-width: 954px) {
  .hamburger::after {
    background-size: 50%;
    background-position: 180px 50px;
    width: 80%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
  }
  .hamburger-side2 {
    width: 70%;
  }
  .hamburger-side2 p {
    color: #ededed;
  }
  .hamburger-main {
    width: 108%;
  }
}
@media screen and (max-width: 733px) {
  .hamburger-items {
    width: 100%;
  }
  .subscribe-main {
    width: 100%;
  }
  .submit {
    margin-left: -1%;
  }
  .subsrcipt {
    width: 98%;
  }
  .hamburger::before {
    content: "";
    position: absolute;
    background-image: url(/assets/img/BG.png);
    background-repeat: no-repeat;
    border-radius: 50px 0;
    background-size: cover;
    width: 100%;
    height: 84%;
    z-index: -1;
  }
  .hamburger-side2 {
    margin: 0 auto;
    height: 480px;
  }
  .hamburger-side2 h1 {
    font-size: 26px;
  }
}
footer {
  background: #f5f5f5;
  font-family: Product Sans;
  width: 100%;
}

.footer-main {
  max-width: 1000px;
  margin: 0 auto;
}

.footer-nav {
  padding: 50px 10px;
  overflow: hidden;
}

.footer-col {
  width: 240px;
  float: left;
  padding-bottom: 20px;
}
.footer-col p {
  margin: 30px 0px 34px 0;
  line-height: 24px;
  font-family: Product Sans;
  color: #888888;
  font-size: 16px;
}
.footer-col h3 {
  padding-bottom: 50px;
}

input[type=checkbox] {
  display: none;
}

footer h3 {
  font-family: Product Sans;
  color: #333;
  font-size: 20px;
  position: relative;
  z-index: 1;
  margin-bottom: 6px;
  margin-top: 0;
}

.product-list {
  list-style: none;
}

.product-list li {
  margin-bottom: 5px;
}

.product-list a {
  line-height: 27px;
  font-family: Product Sans;
  color: #888;
  font-size: 16px;
  text-decoration: none;
}

.product-list a:hover {
  color: #333;
}

input[type=checkbox]:checked + .col-section .product-list {
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  visibility: visible;
  position: static;
  transform: none;
}

input[type=checkbox]:checked + .col-section h3::after {
  transform: rotate(45deg) scale(1.08);
}

.nowrap {
  white-space: nowrap;
}

.contact {
  background: #fff;
  display: flex;
  width: 100%;
  text-align: center;
  border-radius: 13px;
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
}

.contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-us form {
  display: flex;
}

.contact-us input {
  font-family: Product Sans;
  background: white;
  border: none;
  padding: 15px 15px;
  flex-grow: 2;
  border-radius: 10px;
  color: #000000;
  height: 20px;
}

.contact-us input::-webkit-input-placeholder {
  color: rgba(204, 204, 204, 0.8);
}

.contact-us input:focus {
  outline: none;
}

.contact-us .btn-submit {
  cursor: pointer;
  background: #f16214;
  border: none;
  padding: 8px 12px;
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  gap: 10px;
  position: relative;
  font-family: Product Sans;
  font-weight: 500;
  border: 1px solid transparent;
}
.contact-us .btn-submit span {
  border-bottom: 2.3px solid #f6f5f5;
  z-index: 1;
  height: 6px;
  width: 6px;
  border-right: 2.3px solid #f3f0ee;
  transform: rotate(-45deg);
  position: absolute;
  top: 15.8px;
  left: 15px;
}
.contact-us .btn-submit:hover {
  background-color: #ffffff;
  border-color: #eee;
}
.contact-us .btn-submit:hover span {
  border-color: #f16214;
}

.contact-us .btn-submit:focus {
  outline: none;
}

@media only screen and (max-width: 1005px) {
  .footer-logo img {
    max-width: 20%;
  }
  .footer-col {
    padding-bottom: 0;
  }
  .contact {
    margin: 20px auto;
    max-width: 245px;
  }
  footer h3 {
    font-size: 16px;
  }
  .footer-col {
    width: 100%;
  }
  .footer-col h3 {
    padding-bottom: 0px;
  }
  .footer-col a {
    line-height: 15px;
  }
  .item {
    border-bottom: 1px solid #d6d6d6;
  }
  footer h3 {
    padding: 10px 0;
    margin: 0;
    cursor: pointer;
  }
  footer h3::after {
    content: "+";
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-top: -2px;
    margin-right: 8px;
    transition: transform 0.3s ease;
  }
  .product-list {
    visibility: hidden;
    position: absolute;
    transform: translateY(-100px);
    z-index: 1;
    padding: 5px 0 16px 0;
  }
  .product-list li {
    margin: 0;
  }
  .product-list a {
    display: block;
    padding: 6px 14px;
  }
  .footer-col {
    overflow: hidden;
  }
}
.all-rights {
  border-top: 1.5px solid #dddddd;
  text-align: center;
  color: #888888;
  font-size: 15px;
  padding: 15px;
}

.footer-col:first-child {
  padding-right: 15px;
}

@media screen and (max-width: 770px) {
  .footer-col:first-child p {
    font-size: 15px;
    line-height: 20px;
  }
  .footer-col .product-list a {
    text-decoration: underline;
    font-size: 14px;
    line-height: 15px;
  }
  .footer-logo {
    width: 70%;
  }
  .footer-logo img {
    max-width: 60%;
  }
  footer h3 {
    padding-left: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
